$box-heigth : 150px;
$box-width: 150px;
$nav-height : 50px;



body{
    background-color: #DDD;
    font-family: sans-serif;
}
/**
 * NAV
 */

.topnav{
    line-height:$nav-height;
    background: #444;
    color: #EEE;
    font-size: 1em;

    &_logo {
        display:inline-block;
        margin-left: 20px;
        font-style: italic;
        font-size:1.2em;
    }

    &_list {
        display:inline-flex;
        justify-content: space-between;
        margin: 0px 0px;

        &_item{
            display:inline-block;
            padding: 0px 20px;
            border-right: 1px solid #EEE;
            &:hover{
                    background-color: #666;
                }

            a{
                text-decoration: none;
                color: #EEE;

            }
            &--last{
                border-right : none;
            }
        }
    }
}
/**
 * PAGE
 */

.title {
    text-align: center;
}

.wrapper {
    margin: 0px auto;

    max-width: 960px;
}
/**
 * FLEX
 */
.container{
    display: flex;
    
    background-color: #0066DD;
    &--row {
        flex-direction: row;
    }
    &--rowreverse {
        flex-direction: row-reverse;
    }
    &--column {
        flex-direction: column;
    }
    &--columnreverse {
        flex-direction: column-reverse;
    }
    &--flexstart{
        justify-content: flex-start;
    }
    &--flexend{
        justify-content: flex-end;
    }
    &--center{
        justify-content: center;
    }
    &--spacebetween{
        justify-content: space-between;
    }
    &--spacearound{
        justify-content: space-around;
    }
/**
 * BLOCKS
 */
    .block{
        min-width: $box-width;
        min-height: $box-heigth;
        background: orange;
        text-align: center;
        line-height: $box-heigth;
        margin: 25px;
        &--wide {
            width: ($box-width * 1.5);
        }
        &--high{
            height: ($box-heigth * 1.5);
        }
    }
}