nav {
    background-color: #444;
    height: 50px;
    line-height: 50px;
    color: #CCC;
}
body {
    font-family: sans-serif;
}

.inline-list {
    list-style: none;
    padding:0;
    margin:0;
    display: inline-block;
    border: 1px solid yellow;
}

.inline-list__item {
    display: inline-block;
    padding-right: 20px;

}

.avatar {
    border: 1px solid #0F0F0F;
    display: block;
    float: right;

}

.avatar__image{
     width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid white;
    background-color: #FFF;
    display: inline-block;
    float: right;

}
.avatar__username{
    display: inline-block;
    

}

