body,
html {
    min-height: 100%;
}
body{
    background-color: green;
    background-image: url(../img/volvo_1200x900.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.top-header {
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
    width: 100%;
    max-width: 960px;
    color: #DDD;
    text-shadow: 2px 2px 0 rgba(0,0,0,.2);
    text-align: center;
    margin: 40px auto;
}