html,
body {
    height: 100%;
    margin: 0;
    background-color: black;
    color: #DDD;
    font-family: sans-serif;
}
.content {
    min-height: 100%;
}
.content-inside{
    padding : 20px;
    padding-bottom: 50px;
    height: 200px;
    text-align: center;
}
.footer{
    height: 50px;
    margin-top: -50px;
    
    text-align: center;
    background: #42A5F5;
    color: white;
    line-height: 50px;
    padding: 0 20px;
}
.vertical-align {
    position: relative;
    top:50%;
    transform: translateY(-50%);
}