/**
 * Global
 */


$body-background-color : #edeff0;
$body-text-color : #222;
$body-font-family : "Open Sans", sans-serif;
$body-font-size : 100%;
$body-line-height : 150%;

$link-color: #000;
$link-weight: 600;


/**
 * Colors
 */

$primary-color : #E0E0E0;
$success-color : #5EBC41;
$error-color : #BB2828 ;

/**
 * Container
 */

$container-bg-color : #FFF;
$container-border-radius : 5px;
$container-shadow: 0 2px 0 rgba(0,0,0, .1);
$container-footer-top-border: 1px solid #E8EBED;

/**
 * Buttons
 */

$button-border-radius : 5px;
$button-bg-color : $primary-color ;

/**
 * Navigation
 */

$nav-bg-color: #444;
$nav-text-color: #fff;
$nav-link-color: #666;
$nav-height : 60px;

