/**
 * Global
 */


$body-background-color : #edeff0;
$body-text-color : #222;
$body-font-family : "Open Sans", sans-serif;
$body-font-size : 100%;
$body-line-height : 150%;

$link-color: #000;
$link-weight: 600;

/**
 * Container
 */

$container-bg-color : #FFF;
$container-border-radius : 5px;
$container-shadow: 0 2px 0 rgba(0,0,0, .1);
$container-footer-top-border: 1px solid #E8EBED;